h1{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}
body{
  color:white;
}
#menu{
  font-size: 20px;
  color:white;
  margin:0;
  text-align: center;

}
a{
  color:white;
  text-decoration: none;
}

iframe{
  text-align: center;
  padding-right: 0px;
  position: absolute;
  left:210px;
}
html { background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#daumRoughmapContainer1573462544282{
  font-size:30px;
  padding-left: 40px;
  color:white;
  text-align: left;
}
h2{
  text-align: center;
}

table{
  background-color: grey;
  border-color: white;
  border:5px solid;
  text-align: center;
  position:absolute;
  top:360px; left:35%;
  margin-top:0px; margin-left:-100px;
  width:200px; height:200px;
  /* position:absolute;
  top:370px; left:35%;
  margin-top:-100px; margin-left:-100px;
  width:200px; height:200px; */
}
th{
  font-size: 25px;
}
#Games img{
  width: 200px;
  height: 200px;
}
#Games{
  padding-left: 200px;
}
audio{
  width:300px;
  height:20px;
  position: absolute;
  right:10px;
  top:15px;
}
